body.theme-light, body.theme-dark {
  --background-primary: #e8e0d8;
  --background-primary-alt: #f0ebe6;
  --background-secondary: #ffffff;
  --background-secondary-alt: #f0ebe6;
  --background-modifier-border: #c1c0bc;
  --text-normal: #243239;
  --text-muted: #46585e;
  --text-faint: #46585e;
  --text-accent: #914312;
  --text-accent-hover: #914312;
  --text-on-accent: #1e2c31;
  --text-selection: #c1c0bc;
  --interactive-accent: #f07828;
  --interactive-accent-hover: #f07828;
  --text-error: #9f332e;
  --text-success: #176032;
  --link-color: #195b7a;
  --link-color-hover: #205b6c;
  --code-normal: #205b6c;
  --code-background: #f0ebe6;
  --graph-line: #c1c0bc;
  --graph-node: #f07828;
  --h1-color: #914312;
  --h2-color: #914312;
  --font-interface-theme: "IBM Plex Serif";
  --font-text-theme: "IBM Plex Serif";
  --font-monospace-theme: "IBM Plex Mono";
}
